body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: $black;
  background-color:  $white;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
