@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans/opensanslight.woff2') format('woff2'), url('../fonts/open-sans/opensanslight.woff') format('woff'), url('../fonts/open-sans/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/open-sans/opensanslightitalic.woff2') format('woff2'), url('../fonts/open-sans/opensanslightitalic.woff') format('woff'), url('../fonts/open-sans/opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans/opensans.woff2') format('woff2'), url('../fonts/open-sans/opensans.woff') format('woff'), url('../fonts/open-sans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/open-sans/opensansitalic.woff2') format('woff2'), url('../fonts/open-sans/opensansitalic.woff') format('woff'), url('../fonts/open-sans/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/open-sans/opensanssemibold.woff2') format('woff2'), url('../fonts/open-sans/opensanssemibold.woff') format('woff'), url('../fonts/open-sans/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/open-sans/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/open-sans/opensanssemibolditalic.woff') format('woff'), url('../fonts/open-sans/opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans/opensansbold.woff2') format('woff2'), url('../fonts/open-sans/opensansbold.woff') format('woff'), url('../fonts/open-sans/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/open-sans/opensansbolditalic.woff2') format('woff2'), url('../fonts/open-sans/opensansbolditalic.woff') format('woff'), url('../fonts/open-sans/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/open-sans/opensansextrabold.woff2') format('woff2'), url('../fonts/open-sans/opensansextrabold.woff') format('woff'), url('../fonts/open-sans/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/open-sans/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/open-sans/opensansextrabolditalic.woff') format('woff'), url('../fonts/open-sans/opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
