$tablet-widths:      "(min-width: 700px)";
$desktop-widths:     "(min-width: 1200px)";
$mobile-widths-only: "(max-width: 699px)";
$tablet-widths-only: "(max-width: 1199px)";


$white:        #ffffff;
$lightgray:    #f2f2f2;
$blue:         #283645;
$blue-down:    rgba(40, 54, 69, 0.3);
$darkblue:     #1d2631;
$black:        #000000;
$pink:         #d22856;
$pink-down:    rgba(210, 40, 86, 0.3);
$transparency: rgba(0, 0, 0, 0.3);


$font-family: 'Open Sans', Arial, sans-serif;




$retina: "(min-resolution: 144dpi),
           (min-resolution: 1.5dppx)";




